<h2>DO YOU AGREE THAT STUDYING ALONE SUCKS?</h2>

<div class="form">
  <div class="question">
    <%= link_to 'Yes', landing_final_path , class: 'radio' %>
  </div>
  <div class="dots big-dots"></div>
  <div class="question">
    <%= link_to 'Yes', landing_final_path , class: 'radio' %>
  </div>
</div>
