<h2>HOW DO YOU USUALLY STUDY?</h2>

<!-- form here -->
<div class="form">
  <div class="question">
    <%= link_to 'Alone', landing_who_path, class: 'radio' %>
  </div>
  <div class="dots big-dots"></div>
  <div class="question">
    <%= link_to 'Group', landing_who_path, class: 'radio' %>
  </div>
</div>
<!-- form here -->
