<h2>WHERE DO YOU STUDY?</h2>

<!-- form here -->
<div class="form">
  <div class="question">
    <%= link_to 'Library', landing_agree_path , class: 'radio' %>
  </div>
  <div class="dots small-dots"></div>
  <div class="question">
    <%= link_to 'Café', landing_agree_path , class: 'radio' %>
  </div>
  <div class="dots small-dots"></div>
  <div class="question">
    <%= link_to 'Home', landing_agree_path , class: 'radio' %>
  </div>
</div>
<!-- form here -->
