<h2>WHO ANSWERS YOUR QUESTIONS?</h2>

<!-- form here -->
<div class="form">
  <div class="question">
    <%= link_to 'Google', landing_where_path , class: 'radio' %>
  </div>
  <div class="dots small-dots"></div>
  <div class="question">
    <%= link_to 'Peers', landing_where_path , class: 'radio' %>
  </div>
  <div class="dots small-dots"></div>
  <div class="question">
    <%= link_to 'Teacher', landing_where_path , class: 'radio' %>
  </div>
</div>
