<% present @feed, presenters: [:user, :feed] do |presenter| %>
  <div id="sidebar" class="profile well">
    <div class="avatar">
      <%= presenter.avatar %>
    </div> <!-- .avatar -->
    <a href="">Filtres</a>
  </div>
  <div class="microhoops">
    <h2>Urgent microhoops</h2>
    <%= presenter.urgent_microhoops %>
    <h2>Community Feed</h2>
    <%= presenter.all_microhoops %>
  </div>
<% end %>
