<% present @users, presenters: [:users] do |presenter| %>
<div id="main-content" class="span12">
  <h2>Find CoHoopers</h2>
  <div class="full-users-list">
    <%= presenter.list_all_users %>
  </div>
</div>
<% end %>
