<div id="home-video">
  <iframe width="640" height="360" src="http://www.youtube.com/embed/WyzJ2Qq9Abs" frameborder="0" allowfullscreen></iframe>
</div>
<div class="beta-registration">
  <form id="">
    <h2><label for="email">Interested in CoHoop Bêta ?</label></h2>
    <input id="email" type="email" placeholder="Enter your email here !">
    <input type="submit">
  </form>
</div>
<div class="cohoop-share">
  Share on :
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Google plus</li>
  </ul>
</div>
<div class="showcase well">
  <ul class="cohoopers-list">
    <li class="first">1</li>
    <li>2</li>
    <li>3</li>
  </ul>
</div>