<% tag_form = is_main ? 'add-main-tag-form' : 'add-secondary-tag-form' %>
<% add_tag = is_main ? 'add-main-tag' : 'add-secondary-tag' %>

<%= form_tag('/users_tags_relationships', remote: true, id: tag_form ) do %>
  <%= hidden_field_tag 'main', is_main %>
  <div class="input-prepend input-append">
    <span class="add-on"><i class="icon-tag"></i></span>
    <%= text_field_tag 'tags', nil, placeholder: 'Geography, Politics, Sociology', id: "#{add_tag}-field" %>
    <button type="submit" id="<%= add_tag %>" class="add-on append">
      <i class="icon-plus"></i>
    </button>
  </div>
<% end %>
