<div>
  <%= presenter.avatar %>
</div>
<div>
  <a id="upload-avatar" href="#" class="btn btn-small btn-cohoop">Upload an image</a>
</div>

<div class="modal hide" id="upload-popin">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Upload an avatar</h3>
  </div>
  <div class="modal-body">
    <%= presenter.avatar_form %>
  </div>
</div> <!-- #upload-popin -->