<ul class="followed-users-list">
  <% user.followed_users.each do |followed_user| %>
  <li>
    <%= link_to followed_user.avatar(:small), profile_path(id: followed_user.id, first: followed_user.first_name.downcase, last: followed_user.last_name.downcase), title: followed_user.name %>
  </li>
  <% end %>
</ul>
