/*==============================================================================
================================================================================
Imports
================================================================================
==============================================================================*/

@import 'bootstrap';

@import "../lib/normalize";
@import "../lib/html5boilerplate";

@import "../lib/variables";
@import "../lib/mixins";
@import "../lib/topbar";
@import "../lib/font-awesome";

@import "layout";
@import "forms";
@import "elements";

body {
  background-color: lighten($grey, 56%);
  background-image: url('/assets/app/bg_alpha.png');
}

/******************************************************************************/
/* Font styles
/******************************************************************************/
h1, h2, h3, button, input[type=submit] {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {font-size: $size1}
h2 {font-size: $size2}
h3 {font-size: $size3}
h4 {font-size: $size4}
h5 {font-size: $size5}
h6 {font-size: $size6}

#content {
  a {font-size: $size6;}
  p, textarea {font-size: $size5};
  h2, h3 {border-bottom: 1px dotted darken($orange, 10%);}
}

/******************************************************************************/
/* Misc
/******************************************************************************/
.hidden {
  display: none !important;
}