/*==============================================================================
================================================================================
Alpha Forms (override bootstrap)
================================================================================
==============================================================================*/
.signinForm {
  @include background-gradient(#2A2F31, #434A4E, 0.95);
  @include shining-box(0.3);
  color: $white;
  
  h2 {
    border-bottom: 1px dotted darken($orange, 10%);
    margin-top: 0;
  }
  
  a {
    font-size: 1.4em;
    color: $white;
    display: block;
    padding: 6px 12px;
    
    &:hover, &:focus {
      color: darken($white, 10%);
    }
  }
  
  input[type=submit], button {
    width: 222px;
    font-size: $size5;
  }
  
  &>p {
    margin-left: 148px;
  }
}

.controls input[type=checkbox] {
  float: left;
  margin-right: 12px;
}

.btn-cohoop {
  @include button-cohoop();
  
  &:hover, &:focus {
    color: $white;
    @include button-cohoop-hover();
  }
  
  &:active {
    display: none;
  }
}