/*==============================================================================
================================================================================
Alpha Layout (override bootstrap)
================================================================================
==============================================================================*/
.container {
  margin: 45px auto 0;
  width: $wrapper;
}

#content {
  padding: $padding;
  background-color: purple;
  background-image: url('/assets/app/bg_content.png');
  margin-left: 0;
}

#sidebar-left {
  margin-right: $margin * 2;
}

/******************************************************************************/
/* Forms
/******************************************************************************/

.sign-in-form {
  width: 50%;
  margin: ($margin * 2) auto 0;
}

#navbar .user-auth li > a {
  float: left;
}

/******************************************************************************/
/* Pages
/******************************************************************************/
#feed-content,
#main-content,
#sidebar-left {
  background: white;
  margin-left: 0;
  padding: $padding;
  border-radius: $radius;
}

#main-content.span12 {
  padding-right: ($padding * 3) + 8;
}

#main-content.span8,
#feed-content.span8 {
  padding-right: $padding + 4;
}

#feed-content {
  
}

#main-content {
  
}

/******************************************************************************/
/* Profile
/******************************************************************************/
#main-content .best_in_place {
  margin-right: 35px;
}
