/*==============================================================================
================================================================================
Alpha Layout (override bootstrap)
================================================================================
==============================================================================*/
.container {
  margin: 52px auto 0;
  width: $wrapper;
}

#content {
  margin-top: $margin * 2;
}


/******************************************************************************/
/* Forms
/******************************************************************************/

.sign-in-form {
  width: 50%;
  margin: ($margin * 2) auto 0;
}

#navbar .user-auth li > a {
  float: left;
}

/******************************************************************************/
/* Profile page
/******************************************************************************/
#sidebar-left {
  float: left;
  width: ((($wrapper / 12) * 3) - ($padding * 2)) - 2px; // 2px coz of well block border
  padding: $padding;
  margin-right: $margin * 2;
}

#sidebar-right {
  float: right;
}

#feed-content {
  float: left;
  width: (($wrapper / 12) * 9) - ($margin * 2);
}