<div id="header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="<%= root_path %>">CoHoop</a>
      <div class="btn-group pull-right">
        <%= display_user_authentication %>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
