<div id="topbar">
  <div id="navbar" class="clearfix">
    <h1 class="logo"><a href="<%= root_path %>" title="Return to Cohoop.com">CoHoop - social collaborative network</a></h1>
    <nav class="menu pull-left">
      <ul class="cohoop-links">
        <li>
          <a href="http://blog.cohoop.com/" title="Read our blog posts or discover more about CoHoop"><i class="icon-globe"></i> CoHoop Blog</a>
        </li>
        <li>
<!--          <a href="http://meta.cohoop.com/" title="Get involved by tracking down bugs or suggest ideas"><i class="icon-meta"></i> CoHoop Meta</a> -->
        </li>
      </ul>
    </nav>
    <nav class="menu pull-right">
        <ul class="cohoop-links">
            <li><%= link_to 'Users list', users_path %></li>
            <li><%= display_user_authentication %></li>
        </ul>
    </nav>
  </div>
</div>
