<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">CoHoop</a>
      <div class="btn-group pull-right">
        <a class="btn" href="">Register</a>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>